.footer__column-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px 0 16px;
  padding: 0;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  list-style-type: none;
}
